@tailwind base;
@tailwind components;
@tailwind utilities;
@storybook /addon-postcss;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Ant */
#root
  > div
  > div
  > div.gap-6.flex.flex-col.w-full.h-full.bg-red-500.rounded.relative.overflow-auto.border-2.border-red-500
  > div
  > div
  > div
  > ul {
  padding: 10px;
  background-color: theme('colors.background');
  margin: 0;
}
